.root {
  @apply flex flex-shrink-0 items-center justify-between border-b border-ui3 bg-ui6 bg-opacity-80 p-4 h-[100px];
}

.link {
  @apply block flex-shrink-0;
}

.user {
  @apply flex items-center;
}

.image {
  @apply inline-block h-10 w-10 rounded-full;
}

.placeholder {
  @apply bg-gradient-to-r from-primary to-secondary;
}

.name {
  @apply text-base font-medium text-text;
}

.email {
  @apply text-sm font-medium text-ui1;
}

.details {
  @apply ml-3;
}

.button {
  @apply relative ml-3 inline-flex items-center h-fit rounded-md border-2 border-ui4  bg-ui8 px-4 py-2 text-sm font-medium text-text shadow-sm hover:border-primary focus:outline-none focus:ring-2 focus:ring-ui4 focus:ring-offset-2 focus:ring-offset-primary transition-colors ease-linear;
}
